{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "padded-blocks": ["error", "never"],
    "space-before-function-paren": ["error", "always"],
    "no-inner-declarations": false
  }
}
